<h4 id="notice"><%= notice %></h4>

<%= month_calendar events: @calorie do |date, event| %>
  <div class="hidden-date" data-value="<%= date %>" hidden></div>
  <%= date.day %>
  <% event.each do |event| %>
    <div class="total-intakes"><%= event.amount %></div>
  <% end %>
<% end %>

<table>
  <thead>
  </thead>

  <tbody id="calories-table">
  </tbody>
</table>

<br>
<% if user_signed_in? %>
  <div class="add-btn">追加</div>
<% end %>

<div class="modal-content">
  <div class="content">
  </div>
  <div class="modal js-modal">
    <div class="modal__bg js-modal-close"></div>
    <div class="modal__content">

      <%= form_with(model: @calorie_intakes, local: true, id: "update-form") do |form| %>
        <div class="name-content">
          <%= form.label :name, "名前　　　" %>
          <%= form.text_field :name, required: true, minlength: 1, maxlength: 40 %>
        </div>
        <div class="date-content">
          <%= form.label :date, "摂取日　　" %>
          <%= form.date_field :date, required: true %>
        </div>
        <div class="amount-content">
          <%= form.label :amount, "カロリー量" %>
          <%= form.number_field :amount, required: true, in: 0..999999 %>
        </div>
        <div class="actions">
          <%= form.submit class:"submit-btn", value:"登録" %>
        </div>
      <% end %>

      <a class="js-modal-close cancel-btn" href="">取消</a>
    </div><!--modal__inner-->
  </div><!--modal-->
</div>